<~~ ~!Codes,r!~[~!Color,green!~~!Local,bar!~~!Color,default!~] ~!Local,position!~/~!Local,total!~ ~!Color,brightBlack!~r=~!Local,remaining!~~!Color,default!~  ~!Local,progressPercent!~% ~!Progress,rate!~/s ~!Progress,timeRemaining!~ remaining  ~!Codes,r!~ ~>