Available features:
<~~ ~!Color,green!~~%commandLineFlags%~ ~!Color,brightBlack!~~ ~!Color,brightBlack!~~%tagString%~
  ~!Color,default!~~%description%~~!Color,default!~
  ~!Color,brightBlack!~~%provider%~  ~!Color,yellow!~~%source%~~!Color,default!~


~>
Full documentation lives at ~!General,docsDir!~
